@font-face {
  font-family: 'sntraveli';
  src:
    url('fonts/sntraveli.ttf?uo183w') format('truetype'),
    url('fonts/sntraveli.woff?uo183w') format('woff'),
    url('fonts/sntraveli.svg?uo183w#sntraveli') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sntraveli-"], [class*=" sntraveli-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sntraveli' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sntraveli-blog:before {
  content: "\ea30";
}
.sntraveli-shopping-bag2:before {
  content: "\ea31";
}
.sntraveli-croissant:before {
  content: "\ea32";
}
.sntraveli-bread22:before {
  content: "\ea2c";
}
.sntraveli-bread:before {
  content: "\ea2d";
}
.sntraveli-coffee:before {
  content: "\ea2e";
}
.sntraveli-croissant2:before {
  content: "\ea2f";
}
.sntraveli-quote-2:before {
  content: "\ea2b";
}
.sntraveli-tik-tok:before {
  content: "\ea2a";
}
.sntraveli-hourglass1:before {
  content: "\ea26";
}
.sntraveli-mail-big:before {
  content: "\ea27";
}
.sntraveli-map-big:before {
  content: "\ea28";
}
.sntraveli-circle-bg:before {
  content: "\ea29";
}
.sntraveli-chinese-lantern:before {
  content: "\ea25";
}
.sntraveli-service:before {
  content: "\ea23";
}
.sntraveli-checklist:before {
  content: "\ea24";
}
.sntraveli-noun_Time:before {
  content: "\ea20";
}
.sntraveli-noun_Address:before {
  content: "\ea21";
}
.sntraveli-noun_contact:before {
  content: "\ea22";
}
.sntraveli-arrow-down-long:before {
  content: "\ea1f";
}
.sntraveli-bag:before {
  content: "\ea1e";
}
.sntraveli-Vector-Smart-Object3:before {
  content: "\ea1c";
}
.sntraveli-Vector-Smart-Object4:before {
  content: "\ea1d";
}
.sntraveli-Vector-Smart-Object2:before {
  content: "\ea1b";
}
.sntraveli-cleaver:before {
  content: "\ea19";
}
.sntraveli-checkmark:before {
  content: "\ea1a";
}
.sntraveli-right-arrow:before {
  content: "\ea17";
}
.sntraveli-left-arrow:before {
  content: "\ea18";
}
.sntraveli-calendar4:before {
  content: "\ea16";
}
.sntraveli-meat2:before {
  content: "\ea12";
}
.sntraveli-pantone:before {
  content: "\ea13";
}
.sntraveli-smart-tv:before {
  content: "\ea14";
}
.sntraveli-flower1:before {
  content: "\ea15";
}
.sntraveli-knife:before {
  content: "\ea11";
}
.sntraveli-meat1:before {
  content: "\ea10";
}
.sntraveli-shrimp2:before {
  content: "\ea0f";
}
.sntraveli-party:before {
  content: "\ea0e";
}
.sntraveli-tripadvisor:before {
  content: "\ea0d";
}
.sntraveli-shopping-cart1:before {
  content: "\ea0c";
}
.sntraveli-dots:before {
  content: "\ea0a";
}
.sntraveli-menu2:before {
  content: "\ea0b";
}
.sntraveli-double-quotes:before {
  content: "\ea09";
}
.sntraveli-nigiri:before {
  content: "\ea08";
}
.sntraveli-down-arrow-long:before {
  content: "\ea02";
}
.sntraveli-arrow-draw:before {
  content: "\ea07";
}
.sntraveli-search2:before {
  content: "\e9fa";
}
.sntraveli-sushi:before {
  content: "\e9fb";
}
.sntraveli-sushi-roll:before {
  content: "\e9fc";
}
.sntraveli-shrimp:before {
  content: "\e9fd";
}
.sntraveli-sashimi-2:before {
  content: "\e9fe";
}
.sntraveli-noodles:before {
  content: "\e9ff";
}
.sntraveli-flower:before {
  content: "\ea00";
}
.sntraveli-menu1:before {
  content: "\ea01";
}
.sntraveli-fan:before {
  content: "\ea03";
}
.sntraveli-chopsticks:before {
  content: "\ea04";
}
.sntraveli-chopstick:before {
  content: "\ea05";
}
.sntraveli-sashimi:before {
  content: "\ea06";
}
.sntraveli-paper-plane:before {
  content: "\e9f9";
}
.sntraveli-dot:before {
  content: "\e9f8";
}
.sntraveli-heart1:before {
  content: "\e90c";
}
.sntraveli-instagram:before {
  content: "\e997";
}
.sntraveli-Left-Quote:before {
  content: "\e9f7";
}
.sntraveli-flame:before {
  content: "\e9f6";
}
.sntraveli-quote1:before {
  content: "\e9f5";
}
.sntraveli-package-box:before {
  content: "\e9f3";
}
.sntraveli-snowflake:before {
  content: "\e9f4";
}
.sntraveli-arrow-down-solid:before {
  content: "\e9f2";
}
.sntraveli-collaboration1:before {
  content: "\e9ee";
}
.sntraveli-mountains:before {
  content: "\e9ef";
}
.sntraveli-verified-user:before {
  content: "\e9f0";
}
.sntraveli-laurel-wreath:before {
  content: "\e9f1";
}
.sntraveli-premium-qualityy:before {
  content: "\e9ed";
}
.sntraveli-paper-plane-solid:before {
  content: "\e9ec";
}
.sntraveli-ice-cream:before {
  content: "\e9eb";
}
.sntraveli-cart-plus:before {
  content: "\e9ea";
}
.sntraveli-coins:before {
  content: "\e9e9";
}
.sntraveli-calendar3:before {
  content: "\e9e8";
}
.sntraveli-telegram-plane:before {
  content: "\e9e7";
}
.sntraveli-coffee-bean:before {
  content: "\e9e6";
}
.sntraveli-pizza-slice:before {
  content: "\e9e5";
}
.sntraveli-healthcare:before {
  content: "\e9e1";
}
.sntraveli-help:before {
  content: "\e9e2";
}
.sntraveli-piggy-bank:before {
  content: "\e9e3";
}
.sntraveli-save-money:before {
  content: "\e9e4";
}
.sntraveli-collaboration:before {
  content: "\e9e0";
}
.sntraveli-iphone:before {
  content: "\e9de";
}
.sntraveli-alarm-clock:before {
  content: "\e9df";
}
.sntraveli-send2:before {
  content: "\e9dd";
}
.sntraveli-bell:before {
  content: "\e9dc";
}
.sntraveli-calendar-days:before {
  content: "\e9db";
}
.sntraveli-tag1:before {
  content: "\e9d9";
}
.sntraveli-calendar-minus:before {
  content: "\e9da";
}
.sntraveli-serving-dish:before {
  content: "\e9d5";
}
.sntraveli-fork:before {
  content: "\e9d6";
}
.sntraveli-wedding-rings:before {
  content: "\e9d7";
}
.sntraveli-wine-bottle:before {
  content: "\e9d8";
}
.sntraveli-cutlery:before {
  content: "\e9d4";
}
.sntraveli-dish:before {
  content: "\e9d3";
}
.sntraveli-meat:before {
  content: "\e9cf";
}
.sntraveli-goblet:before {
  content: "\e9d0";
}
.sntraveli-chef-hat1:before {
  content: "\e9d1";
}
.sntraveli-trumpet:before {
  content: "\e9d2";
}
.sntraveli-phone-rotary:before {
  content: "\e9ce";
}
.sntraveli-mailbox:before {
  content: "\e9cd";
}
.sntraveli-eating:before {
  content: "\e9cc";
}
.sntraveli-thin-arrow-left:before {
  content: "\e9ca";
}
.sntraveli-thin-arrow-right:before {
  content: "\e9cb";
}
.sntraveli-chef-hat:before {
  content: "\e9c9";
}
.sntraveli-shopping-bag-2:before {
  content: "\e9c8";
}
.sntraveli-gift-card:before {
  content: "\e9c7";
}
.sntraveli-shopping-bag1:before {
  content: "\e9c6";
}
.sntraveli-instagram-fill:before {
  content: "\e9c5";
}
.sntraveli-tag:before {
  content: "\e9c4";
}
.sntraveli-chef:before {
  content: "\e9c3";
}
.sntraveli-cake:before {
  content: "\e9c1";
}
.sntraveli-door:before {
  content: "\e9c2";
}
.sntraveli-ring:before {
  content: "\e9c0";
}
.sntraveli-hourglass:before {
  content: "\e9be";
}
.sntraveli-phone-i:before {
  content: "\e9bf";
}
.sntraveli-instagram-round:before {
  content: "\e9aa";
}
.sntraveli-down-arrow:before {
  content: "\e9a9";
}
.sntraveli-send:before {
  content: "\e996";
}
.sntraveli-play-2:before {
  content: "\e975";
}
.sntraveli-link:before {
  content: "\e911";
}
.sntraveli-volume:before {
  content: "\e90f";
}
.sntraveli-menu-long:before {
  content: "\e90e";
}
.sntraveli-utensils:before {
  content: "\e90d";
}
.sntraveli-grid:before {
  content: "\e9bb";
}
.sntraveli-list:before {
  content: "\e9bc";
}
.sntraveli-chart-bar-regular:before {
  content: "\e995";
}
.sntraveli-th:before {
  content: "\e992";
}
.sntraveli-list-ul:before {
  content: "\e993";
}
.sntraveli-border-all:before {
  content: "\e994";
}
.sntraveli-auction:before {
  content: "\e98d";
}
.sntraveli-trophy-alt:before {
  content: "\e98e";
}
.sntraveli-diploma:before {
  content: "\e98f";
}
.sntraveli-briefcase-medical:before {
  content: "\e990";
}
.sntraveli-users:before {
  content: "\e991";
}
.sntraveli-window-close-regular:before {
  content: "\e982";
}
.sntraveli-envelope-open-regular:before {
  content: "\e983";
}
.sntraveli-user-alt:before {
  content: "\e984";
}
.sntraveli-heart-regular:before {
  content: "\e985";
}
.sntraveli-dribbble-brands:before {
  content: "\e986";
}
.sntraveli-youtube-brands:before {
  content: "\e987";
}
.sntraveli-behance-brands:before {
  content: "\e988";
}
.sntraveli-calendar-alt-regular:before {
  content: "\e989";
}
.sntraveli-clock-regular:before {
  content: "\e98a";
}
.sntraveli-marker-alt:before {
  content: "\e98b";
}
.sntraveli-envelope-regular:before {
  content: "\e98c";
}
.sntraveli-phone-alt1:before {
  content: "\e97f";
}
.sntraveli-angle-down-solid:before {
  content: "\e980";
}
.sntraveli-phone1:before {
  content: "\e976";
}
.sntraveli-email1:before {
  content: "\e977";
}
.sntraveli-search-400:before {
  content: "\e978";
}
.sntraveli-search-solid:before {
  content: "\e979";
}
.sntraveli-share-alt:before {
  content: "\e97a";
}
.sntraveli-comments-regular:before {
  content: "\e97b";
}
.sntraveli-arrow-right-solid:before {
  content: "\e97c";
}
.sntraveli-heart:before {
  content: "\e970";
}
.sntraveli-comment-alt1:before {
  content: "\e968";
}
.sntraveli-comment-dots1:before {
  content: "\e969";
}
.sntraveli-comment1:before {
  content: "\e96a";
}
.sntraveli-comments1:before {
  content: "\e96b";
}
.sntraveli-comment-alt:before {
  content: "\e96c";
}
.sntraveli-comment-dots:before {
  content: "\e96d";
}
.sntraveli-comment:before {
  content: "\e96e";
}
.sntraveli-comments:before {
  content: "\e96f";
}
.sntraveli-user1:before {
  content: "\e966";
}
.sntraveli-user:before {
  content: "\e967";
}
.sntraveli-folder1:before {
  content: "\e962";
}
.sntraveli-folder-open1:before {
  content: "\e963";
}
.sntraveli-folder-open:before {
  content: "\e964";
}
.sntraveli-folder:before {
  content: "\e965";
}
.sntraveli-arrow-circle-alt-left:before {
  content: "\e960";
}
.sntraveli-plus-circle-01:before {
  content: "\e961";
}
.sntraveli-alert:before {
  content: "\e901";
}
.sntraveli-arrow-alt-circle-down:before {
  content: "\e902";
}
.sntraveli-arrow-alt-circle-left:before {
  content: "\e903";
}
.sntraveli-arrow-alt-circle-right:before {
  content: "\e904";
}
.sntraveli-arrow-alt-circle-up:before {
  content: "\e905";
}
.sntraveli-arrow-circle-down:before {
  content: "\e906";
}
.sntraveli-arrow-circle-left1:before {
  content: "\e907";
}
.sntraveli-arrow-circle-right1:before {
  content: "\e908";
}
.sntraveli-arrow-circle-up:before {
  content: "\e909";
}
.sntraveli-arrow-circle-up-large:before {
  content: "\e95c";
}
.sntraveli-arrow-circle-down-large:before {
  content: "\e95d";
}
.sntraveli-arrow-circle-left-large:before {
  content: "\e95e";
}
.sntraveli-arrow-circle-right-large:before {
  content: "\e95f";
}
.sntraveli-arrow-down:before {
  content: "\e90a";
}
.sntraveli-arrow-up:before {
  content: "\e90b";
}
.sntraveli-long-arrow-up:before {
  content: "\e912";
}
.sntraveli-long-arrow-down:before {
  content: "\e913";
}
.sntraveli-long-arrow-left:before {
  content: "\e914";
}
.sntraveli-arrow-prev:before {
  content: "\e959";
}
.sntraveli-arrow-next:before {
  content: "\e95a";
}
.sntraveli-check1:before {
  content: "\e915";
}
.sntraveli-long-arrow-right:before {
  content: "\e916";
}
.sntraveli-check-circle:before {
  content: "\e917";
}
.sntraveli-check-alt-circle:before {
  content: "\e918";
}
.sntraveli-chevron-circle-down:before {
  content: "\e919";
}
.sntraveli-chevron-circle-left:before {
  content: "\e91a";
}
.sntraveli-chevron-circle-right:before {
  content: "\e91b";
}
.sntraveli-chevron-circle-up:before {
  content: "\e91c";
}
.sntraveli-chevron-down1:before {
  content: "\e91d";
}
.sntraveli-chevron-left:before {
  content: "\e91e";
}
.sntraveli-chevron-right:before {
  content: "\e91f";
}
.sntraveli-chevron-up:before {
  content: "\e920";
}
.sntraveli-clock:before {
  content: "\e921";
}
.sntraveli-download:before {
  content: "\e922";
}
.sntraveli-email:before {
  content: "\e923";
}
.sntraveli-facebook-circle-alt:before {
  content: "\e924";
}
.sntraveli-facebook-f:before {
  content: "\e925";
}
.sntraveli-facebook-messenger:before {
  content: "\e926";
}
.sntraveli-facebook-square:before {
  content: "\e927";
}
.sntraveli-facebook:before {
  content: "\e928";
}
.sntraveli-twitter-circle:before {
  content: "\e929";
}
.sntraveli-twitter-square:before {
  content: "\e92a";
}
.sntraveli-twitter:before {
  content: "\e92b";
}
.sntraveli-instagram-square:before {
  content: "\e92c";
}
.sntraveli-instagram1:before {
  content: "\e92d";
}
.sntraveli-linkedin-circle:before {
  content: "\e92e";
}
.sntraveli-linkedin-in:before {
  content: "\e92f";
}
.sntraveli-linkedin:before {
  content: "\e930";
}
.sntraveli-pinterest-p:before {
  content: "\e931";
}
.sntraveli-pinterest-square:before {
  content: "\e932";
}
.sntraveli-youtube:before {
  content: "\e933";
}
.sntraveli-map-marker:before {
  content: "\e934";
}
.sntraveli-pinterest:before {
  content: "\e935";
}
.sntraveli-phone-alt:before {
  content: "\e936";
}
.sntraveli-phone:before {
  content: "\e937";
}
.sntraveli-play-circle:before {
  content: "\e938";
}
.sntraveli-play:before {
  content: "\e939";
}
.sntraveli-plus:before {
  content: "\e93a";
}
.sntraveli-plus-circle:before {
  content: "\e93b";
}
.sntraveli-minus:before {
  content: "\e900";
}
.sntraveli-minus-circle:before {
  content: "\e93c";
}
.sntraveli-remove-circle:before {
  content: "\e93d";
}
.sntraveli-remove1:before {
  content: "\e93e";
}
.sntraveli-search:before {
  content: "\e93f";
}
.sntraveli-shadow:before {
  content: "\e940";
}
.sntraveli-shopping-bag:before {
  content: "\e941";
}
.sntraveli-shopping-basket:before {
  content: "\e942";
}
.sntraveli-shopping-cart-arrow-down:before {
  content: "\e943";
}
.sntraveli-shopping-cart-plus:before {
  content: "\e944";
}
.sntraveli-shopping-cart:before {
  content: "\e945";
}
.sntraveli-sign-in-alt:before {
  content: "\e946";
}
.sntraveli-sign-out-alt:before {
  content: "\e947";
}
.sntraveli-star-alt:before {
  content: "\e948";
}
.sntraveli-star1:before {
  content: "\e949";
}
.sntraveli-pdf:before {
  content: "\e94a";
}
.sntraveli-thumbtack:before {
  content: "\e94b";
}
.sntraveli-google-plus-g:before {
  content: "\e94c";
}
.sntraveli-google-plus-square:before {
  content: "\e94d";
}
.sntraveli-google-plus:before {
  content: "\e94e";
}
.sntraveli-google:before {
  content: "\e94f";
}
.sntraveli-rss-square:before {
  content: "\e950";
}
.sntraveli-rss:before {
  content: "\e951";
}
.sntraveli-skype:before {
  content: "\e952";
}
.sntraveli-tumblr-square:before {
  content: "\e953";
}
.sntraveli-tumblr:before {
  content: "\e954";
}
.sntraveli-vimeo-square:before {
  content: "\e955";
}
.sntraveli-vimeo-v:before {
  content: "\e956";
}
.sntraveli-vimeo:before {
  content: "\e957";
}
.sntraveli-yelp:before {
  content: "\e958";
}
.sntraveli-spinner:before {
  content: "\e95b";
}
.sntraveli-quote:before {
  content: "\e9bd";
}
.sntraveli-cloud-upload:before {
  content: "\e998";
}
.sntraveli-star:before {
  content: "\e999";
}
.sntraveli-close:before {
  content: "\e99a";
}
.sntraveli-remove:before {
  content: "\e99a";
}
.sntraveli-times:before {
  content: "\e99a";
}
.sntraveli-check:before {
  content: "\e99b";
}
.sntraveli-arrow-circle-right:before {
  content: "\e99c";
}
.sntraveli-arrow-circle-left:before {
  content: "\e99d";
}
.sntraveli-angle-down:before {
  content: "\e99e";
}
.sntraveli-angle-up:before {
  content: "\e99f";
}
.sntraveli-angle-right:before {
  content: "\e9a0";
}
.sntraveli-angle-left:before {
  content: "\e9a1";
}
.sntraveli-angle-double-down:before {
  content: "\e9a2";
}
.sntraveli-angle-double-up:before {
  content: "\e9a3";
}
.sntraveli-angle-double-right:before {
  content: "\e9a4";
}
.sntraveli-angle-double-left:before {
  content: "\e9a5";
}
.sntraveli-sort-desc:before {
  content: "\e9a6";
}
.sntraveli-sort-down:before {
  content: "\e9a6";
}
.sntraveli-caret-down:before {
  content: "\e9a7";
}
.sntraveli-chevron-down:before {
  content: "\e9a8";
}
.sntraveli-hours-support:before {
  content: "\e9b7";
}
.sntraveli-address:before {
  content: "\e9b8";
}
.sntraveli-email2:before {
  content: "\e9b9";
}
.sntraveli-right-arrow1:before {
  content: "\e9ab";
}
.sntraveli-right-arrow-x:before {
  content: "\e9ac";
}
.sntraveli-close1:before {
  content: "\e9ad";
}
.sntraveli-checked:before {
  content: "\e9ae";
}
.sntraveli-phone-call:before {
  content: "\e9af";
}
.sntraveli-world:before {
  content: "\e9b0";
}
.sntraveli-menu:before {
  content: "\e9b1";
}
.sntraveli-newletter:before {
  content: "\e9b2";
}
.sntraveli-clock1:before {
  content: "\e9b3";
}
.sntraveli-label:before {
  content: "\e9b4";
}
.sntraveli-user11:before {
  content: "\e9b5";
}
.sntraveli-calendar1:before {
  content: "\e9b6";
}
.sntraveli-calendar2:before {
  content: "\e9ba";
}
.sntraveli-clock-o:before {
  content: "\e981";
}
.sntraveli-chevron-down11:before {
  content: "\e97e";
}
.sntraveli-search1:before {
  content: "\e97d";
}
.sntraveli-calendar:before {
  content: "\e974";
}
.sntraveli-angle-down1:before {
  content: "\e973";
}
.sntraveli-angle-up1:before {
  content: "\e972";
}
.sntraveli-angle-left1:before {
  content: "\e910";
}
.sntraveli-angle-right1:before {
  content: "\e971";
}
